-if @user.posts.any?
    - @user.posts.each do |post|
        = image_tag post.image.url
        %h2= post.caption
        = "by #{User.find(post.user_id).username}" 
        #likes
            %span{class:'likes-count'}
                = "#{pluralize(post.likes.count, 'like')}"
            = link_to 'like', post_likes_path(post), class: "likes-link"
        - post.comments.each do |comment|
            %li
                = comment.text
                = "by #{User.find(comment.user_id).username}"
        = link_to "Comment!", new_post_comment_path(post)
- else
    %h1= "This is where #{@user.username}'s posts will show"
