.row
    .post-container.panel
        %h2.profile-header= "#{@user.username}"
        -if @user.posts.any?
            - @user.posts.each do |post|
                = render post, post: post

        - else
            %h1= "This is where #{@user.username}'s posts will show"

