.post.panel
    - unless post.image.url == "/images/original/missing.png"
        = image_tag post.image.url, class: "post-image"
    %p.post-text= post.caption.html_safe
    by
    = link_to "#{post.user.username}", user_profile_path(post.user_id) 
    %p= "#{time_ago_in_words(post.created_at)} ago"
    #likes
        %span{class:'likes-count'}
            = "#{pluralize(post.likes.count, 'like')}"
        = link_to 'like', post_likes_path(post), class: "likes-link" if current_user
    %table
        %tbody
            - post.comments.each do |comment|
                %tr
                    %td.post-text.comment
                        %p.comment= comment.text.html_safe
                        %p.comment-details
                            = "by"
                            = link_to "#{comment.user.username}", user_profile_path(comment.user_id)
                            = "#{time_ago_in_words(comment.created_at)} ago"
    -if current_user
        = form_for @comment, url: { controller: 'posts', post_id: post.id, controller: 'comments' } do  |f|
            = f.label :text
            = f.text_field :text
            = f.submit 'send'
        
    -if current_user == User.find(post.user_id)
        = link_to "Delete Post", post_path(post), method: "delete"
