-if @posts.any?
    - @posts.each do |post|
        = image_tag post.image.url
        %h2= post.caption
        by
        = link_to "#{post.user.username}", user_profile_path(post.user_id) 
        #likes
            %span{class:'likes-count'}
                = "#{pluralize(post.likes.count, 'like')}"
            = link_to 'like', post_likes_path(post), class: "likes-link"
        - post.comments.each do |comment|
            %li
                = comment.text
                = "by #{User.find(comment.user_id).username}"
        = link_to "Comment!", new_post_comment_path(post)

- else
    %h1 No posts yet

- if current_user
    = link_to "Add a post", new_post_path 
