-if @posts.any?
	- @posts.each do |post|
		%h2= post.caption
		= image_tag post.image.url
		- post.comments.each do |comment|
			%li
				= comment.text

		= link_to "Comment!", new_post_comment_path(post)
-else
	%h1 No posts yet


= link_to "Add a post", new_post_path 