!!!
%html
    %head
        %meta{charset:"utf-8"}
        %meta{name:"viewport", content:"width=device-width, initial-scale=1.0"}
        %title Instaharam
        = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
        = javascript_include_tag "vendor/modernizr"
        = csrf_meta_tags
        %link{href:"http://fonts.googleapis.com/css?family=Dancing+Script", rel:"stylesheet", type:"text/css"}
    %body
        .fixed
            %nav.top-bar
                %ul.title-area{ data:{"top-bar" => true}}       
                    %li.name
                        %h1= link_to "Instaharam", posts_path
                %section.top-bar-section
                    %ul.right
                        %li.divider
                        - unless current_user
                            %li= link_to "Sign in", new_user_session_path
                            %li.divider
                            %li= link_to "Register", new_user_registration_path
                        - else
                            %li= link_to "Sign out", destroy_user_session_path, method: "delete" 
                            %li.divider
                            %li= link_to "Profile", user_profile_path(current_user)
                    %ul.left
                        - if current_user
                            %li.divider
                            %li= link_to "Add a post", new_post_path 
        = yield
        = javascript_include_tag 'application', 'data-turbolinks-track' => true

