!!!
%html
    %head
        %meta{charset:"utf-8"}
        %meta{name:"viewport", content:"width=device-width, initial-scale=1.0"}
        %title Instaharam
        = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
        = javascript_include_tag "vendor/modernizr"
        = csrf_meta_tags
        %link{href:"", rel:"stylesheet"}
    %body
        %nav.top-bar
            %ul{class: "title-area", data:{"top-bar" => true}}       
                %li{class: "name"}
                    %h1= link_to "Instaharam", posts_path
            %section.top-bar-section
                %ul.left
                    %li.divider
                    - unless current_user
                        %li= link_to "Sign in", new_user_session_path
                        %li.divider
                        %li= link_to "Register", new_user_registration_path
                    - else
                        %li= link_to "Sign out", destroy_user_session_path, method: "delete" 
                        %li.divider
                        %li= link_to "Profile", user_profile_path(current_user)
        = yield
        = javascript_include_tag 'application', 'data-turbolinks-track' => true

