!!!
%html
    %head
        %meta{charset:"utf-8"}
        %meta{name:"viewport", content:"width=device-width, initial-scale=1.0"}
        %title Instaharam
        = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
        = javascript_include_tag "vendor/modernizr"
        = csrf_meta_tags
        %link{href:"http://fonts.googleapis.com/css?family=Dancing+Script", rel:"stylesheet", type:"text/css"}
        = javascript_include_tag "vendor/modernizr"
    %body
        .fixed
            %nav.top-bar
                %ul.title-area{ data:{"top-bar" => true}}       
                    %li.name
                        %h1= link_to "Instaharam", posts_path
                %section.top-bar-section
                    %ul.right
                        %li.divider
                        - unless current_user
                            %li= link_to "Sign in", new_user_session_path
                            %li.divider
                            %li= link_to "Register", new_user_registration_path
                        - else
                            %li= link_to "Sign out", destroy_user_session_path, method: "delete" 
                            %li.divider
                            %li= link_to "Profile", user_profile_path(current_user)
                    %ul.left
                        - if current_user
                            %li.divider
                            %li= link_to "Add a post", '#', :'data-reveal-id' => 'add-post-modal'
            #add-post-modal.reveal-modal
                - @new_post = Post.new
                = form_for @new_post, data: {abide: true}, :html => {:multipart => true } do |f|
                    = f.label :image
                    = f.file_field :image, required: true
                    = f.label :caption
                    = f.text_field :caption
                    = f.submit name: "Create Post"
                %a.close-reveal-modal& &#215;

        - if @disable_separator
            = yield
        - else
            .separator
                .row
                    .large-8.columns
                        = yield

        = javascript_include_tag 'application'

